@charset "UTF-8";

/* Сброс стилей */

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  overflow-x: hidden;
}

img{
  height: auto;
  width: 100%;
}

a{
  text-decoration: none;
  outline: none;
}
ol, ul{
  list-style: none;
}
button{
  outline: none;
}
h1,h2,h3,h4,h5,h6{
  font-size: inherit;
}
input{
  outline: none;
}
p{
  font-weight: 300;
}


