:root{
  --blue-color: #05297F;
  --blue-light: #303960;
  --silver: #666666;
  --white: #fff;
  --black: #252525;
  --pink: #FC9D9D;
  --pink-light: #FFAEA2;
  --show-silver: #EEF2F5;
  --red: #D63447;
}