@import "mixins";
.collection{
  position: relative;
  &__one{
    position: relative;
  }
  &__two{
    position: relative;
  }
  &__three{
    z-index: 1;
    position: relative;
    padding-top: 120px;
  }
  &__disc{
    padding-bottom: 120px;
    &-title{
      font-weight: 700;
      font-size: 46px;
      margin-bottom: 30px;
      color: var(--black);
      span{
        color: var(--blue-color);
        display: block;
      }
    }
    &-description{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-bottom: 50px;
    }
    &-btn{
      color: var(--white);
      background-color: var(--pink);
      border: none;
      border-radius: 50px;
      font-size: 18px;
      padding: 5px 30px;
      font-family: 'Hind', sans-serif;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover{
        background-color: var(--white);
        color: var(--pink);
        border: 1px solid var(--pink);
      }
    }
  }
  &__one-strong{
    max-width: 270px;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    left: 50px;
    bottom: 92px;
    line-height: 34px;
  }
  &__two-strong{
    max-width: 270px;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    bottom: 92px;
    left: 50px;
    line-height: 34px;
  }
  &__three-strong{
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    left: 50px;
    bottom: 75px;
    max-width: 200px;
    line-height: 34px;
  }
  &__one-btn{
    bottom: 30px;
    left: 50px;
    position: absolute;
    @include button-blue-small();
  }
  &__two-btn{
    bottom: 30px;
    left: 50px;
    position: absolute;
    @include button-pink-small();
  }
  &__three-btn{
    @include button-blue-small();
    bottom: 25px;
    left: 50px;
    position: absolute;
  }
  &__one-span {
    position: absolute;
    z-index: 1;
    transform: rotate(-90deg);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__two-span {
    position: absolute;
    z-index: 1;
    transform: rotate(-90deg);
    flex: 14;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__three-span{
    background-color: var(--pink);
    color: var(--white);
    width: 114px;
    height: 114px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 155px;
    transform: translateX(50%);
  }
  &__bg-six{
    position: absolute;
    bottom: -29%;
  }
}


//Медиа запросы


@media (max-width: 991px) {
  .collection__disc{
    text-align: center;
  }
  .collection__disc-title{
    margin-top: 75px;
    margin-bottom: 10px;
    font-size: 40px;
  }
  .collection__disc-description{
    margin-bottom: 30px;
  }
  .collection__disc-btn{
    font-size: 23px;
  }
  .collection__one-strong{
    max-width: 278px;
    font-size: 37px;
  }
  .collection__one-btn{
    font-size: 20px;
  }
  .collection__two-btn{
    font-size: 20px;
  }
  .collection__two-strong{
    max-width: 308px;
    font-size: 37px;
  }
  .collection__three-span{
    right: 80px;
  }
  .collection__three-btn{
    font-size: 20px;
  }
  .collection__three-strong{
    max-width: 308px;
    font-size: 37px;
  }
  .collection__bg-six{
    display: none;
  }
}

@media (max-width: 425px) {
  .collection__disc-title{
    margin-top: 50px;
    font-size: 33px;
  }
  .collection__disc-description{
    margin-bottom: 23px;
  }
  .collection__disc-btn{
    font-size: 18px;
  }
  .collection__one-strong{
    left: 10px;
    font-size: 23px;
  }
  .collection__one-btn{
    left: 10px;
    font-size: 16px;
  }
  .collection__two-btn{
    font-size: 16px;
    left: 10px;
  }
  .collection__two-strong{
    left: 10px;
    max-width: 192px;
    font-size: 23px;
  }
  .collection__three-span{
    width: 87px;
    height: 87px;
    font-weight: 600;
    font-size: 20px;
  }
  .collection__three-btn{
    font-size: 16px;
    left: 10px;
  }
  .collection__three-strong{
    max-width: 192px;
    font-size: 23px;
    left: 10px;
  }
}

@media (max-width: 375px) {
  .collection__one-strong{
    line-height: 25px;
    bottom: 70px;
    max-width: 240px;
  }
  .collection__two-strong{
    line-height: 25px;
    bottom: 70px;
    max-width: 240px;
  }
  .collection__three-strong{
    line-height: 25px;
  }
  .collection__one-span{
    font-size: 12px;
  }
  .collection__two-span{
    font-size: 12px;
  }
}